In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input

In [2]:
password = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
%load_ext sql
%sql {connection_string}

 ··········

(pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [3]:
%%sql
-- 1
select count(*) as Copies from sakila.inventory as i
join sakila.film as f
on i.film_id = f.film_id
where title = 'HUNCHBACK IMPOSSIBLE';

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [4]:
%%sql
-- 2
select title, length from sakila.film
where length > (
  select avg(length) from sakila.film
)
limit 10;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [5]:
%%sql
-- 3
select Actor from
(select fa.film_id, fi.title, fa.actor_id, concat(a.first_name,' ',a.last_name) as Actor from sakila.film_actor as fa
join sakila.actor as a 
on fa.actor_id = a.actor_id
join sakila.film as fi
on fa.film_id = fi.film_id) as s
where title = 'ALONE TRIP';

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [6]:
%%sql
-- 4
select title from
(select f.title, c.name as Category from sakila.film as f
join sakila.film_category as fc
on f.film_id = fc.film_id
join sakila.category as c
on fc.category_id = c.category_id) as s
where Category = "Family"
limit 10;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [7]:
%%sql
-- 5
select concat(first_name , ' ' , last_name) as Customer_Name, email
from sakila.customer
where address_id in (
  select address_id
  from sakila.address
  where city_id in (
    select city_id
    from sakila.city
    where country_id in (
      select country_id
      from sakila.country
      where country = 'Canada'
     )
  )
);

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [8]:
%%sql
-- 5 (Using joins)
select concat(cu.first_name,' ',cu.last_name) as Customer_name, cu.email from sakila.customer as cu
join sakila.address as ad
on cu.address_id = ad.address_id
join sakila.city as ci
on ad.city_id = ci.city_id
join sakila.country as co
on ci.country_id = co.country_id
where co.country = "Canada";

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [9]:
%%sql
-- 6a
-- get the most prolific author
select actor_id from (
  select actor_id, count(film_id) as Films from sakila.film_actor
  group by actor_id
  order by Films desc
  limit 1) as s;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [10]:
%%sql
-- 6b
-- now get the films starred by the most prolific actor

select fi.title from sakila.film_actor as fa 
join sakila.film as fi
on fa.film_id = fi.film_id
where actor_id = (
  select actor_id from (
    select actor_id, count(film_id) as Films from sakila.film_actor
    group by actor_id
    order by Films desc
  limit 1) 
as s1)
limit 10;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [11]:
%%sql
-- 7a
-- most profitable customer
select customer_id from (
  select customer_id, sum(amount) as Payments from sakila.payment
  group by customer_id
  order by Payments desc
  limit 1) 
as s;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [12]:
%%sql
-- 7b
-- films rented by most profitable customer

select title from (select pa.customer_id, pa.rental_id, re.inventory_id, i.film_id, fi.title  from sakila.payment as pa
join sakila.rental as re
on pa.rental_id = re.rental_id
join sakila.inventory as i
on re.inventory_id = i.inventory_id
join sakila.film as fi
on i.film_id = fi.film_id) as s1
where customer_id = (select customer_id from (select customer_id, sum(amount) as Payments from sakila.payment
group by customer_id
order by Payments desc
limit 1) as s2)
limit 10;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [13]:
%%sql
-- 8
select customer_id, sum(amount) as Customer_total_spent from sakila.payment
group by customer_id
having Customer_total_spent > (select round(avg(Customer_total_payment),2) as Average from (select customer_id, round(sum(amount),2) as Customer_total_payment from sakila.payment
group by customer_id) as s)
order by Customer_total_spent desc
limit 10;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])