# LAB 2.09

In [2]:
```sql
-- to create table for may rentals

create table if not exists rentals_may like sakila.rental;
```

```sql
-- insert values in the table

insert into rentals_may
select * from sakila.rental
where rental_date between date('2005-05-15') and date('2005-05-30');
```

```sql
-- to create table for June rentals

create table if not exists rentals_june like sakila.rental;
```

```sql
-- insert values in the table

insert into rentals_june
select * from sakila.rental
where rental_date between date('2005-06-15') and date('2005-06-30');
```

```sql
-- Check the number of rentals for each customer for May

select customer_id, count(customer_id) as num_rentals_may
from rentals_may
group by customer_id;
```

```sql
-- Check the number of rentals for each customer for June

select customer_id, count(customer_id) as num_rentals_june
from rentals_june
group by customer_id;
```

```python
# Create a python connection with SQL database and retrieve the results of the last two queries

# Code to create the connection

import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass # To get the password without showing the input
password = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
```
```python
# Code to extract data for may rentals

query = '''select customer_id, count(customer_id) as num_rentals_may
from rentals_may
group by customer_id;'''
df1 = pd.read_sql_query(query, engine)
df1.head()

# Code to extract data for June rentals

query = '''select customer_id, count(customer_id) as num_rentals_june
from rentals_june
group by customer_id;'''
df2 = pd.read_sql_query(query, engine)
df2.head()
```

```python
# Code to check the customers that rented more books in June as compared to May

df = df1.merge(df2, on='customer_id', how = 'inner')
df['diff'] = df['num_rentals_june'] - df['num_rentals_may']
df[df['diff']>0].shape
```

SyntaxError: invalid syntax (2674870401.py, line 1)